# Desafío 01

* Importación de librerías
* astype()

In [23]:
#!pip install unidecode

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 1.8MB/s eta 0:00:01
Installing collected packages: unidecode
Successfully installed unidecode-1.1.1

In [1]:
import pandas as pd
import numpy as np
import re as re
import unidecode

In [2]:
# Para ver el contenido total de las columnas

pd.set_option('display.max_colwidth', -1)
#pd.set_option("display.max_columns", len(properatti.columns))

In [3]:
df = pd.DataFrame(pd.read_csv("../data/properatti.csv", encoding='UTF-8'))


#!head nombreArchivo.cvs --> comando de linux para ver las 5 primeras lineas. Se puede utilizar para ver como estan separados los datos

In [ ]:
df.info(verbose=None, null_counts=True)

In [4]:
df.sample(1)['description']

43102    Casa en Venta de 2 dorm. en Cordoba
Name: description, dtype: object

* Información de las columnas

In [ ]:
# Busqueda de NaNs
df[pd.isnull(df['description'])]

### Reemplazo de NaN's
Esto se realiza porque la función de búsqueda explotaba

In [5]:
df_a1=df.replace(np.nan,'sin-dato')
df_a1.head(2)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3.43079e+06,"-34.6618237,-58.5088387",-34.6618,...,40,1127.27,1550,sin-dato,sin-dato,sin-dato,http://www.properati.com.ar/15bo8_venta_ph_mataderos_lavadero_patio_inmobiliaria-fedele,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIKufMJMwHtquzhk=/trim/198x0/smart/filters:strip_icc()/inmobiliariafedele.com/photos/CARHUE%202278-IMG_3400.JPG
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3.43204e+06,"-34.9038831,-57.9643295",-34.9039,...,sin-dato,sin-dato,sin-dato,sin-dato,sin-dato,sin-dato,http://www.properati.com.ar/15bob_venta_departamentos_la-plata_balcon_lavadero_toilette_garage_estrenar_antonini-propiedades_dcp,"Venta de departamento en décimo piso al frente, a estrenar. Living comedor con ventanales hacia el balcón con pisos de madera. Cocina completa con doble mesada, muebles bajo mesada. Lavadero separado. Toilette.Dormitorio con placard. Segundo dormitorio a dividir. Calefacción por radiadorBaño completo.Balcón corrido. Posibilidad de cochera semicubierta. U$D 20.000 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv45KAKirGL3JM8=/trim/198x0/smart/filters:strip_icc()/antoninipropiedades.com/photos/401-1-7%20y%2037%2010A%201.jpg

### Patterns

In [6]:
# Comentar lo que no se deba ejecutar

#pattern = r'(\d+)\s[m]2' # Patron para buscar metros cuadrados (m2)
pattern = r'(\d*\w*)\s*amb'  # Patron para buscar metros ambientes
#pattern = r'(\d*)\s?\b[aA]mbientes\w*'
#pattern = r'(\d*\w*)\s*usd'
#pattern = r'(\d*\w*)\s*habitacion|(\d*\w*)\s?cuarto|(\d*\w*)\s?dorm|(\d*\w*)\s?pieza'

In [7]:
regex = re.compile(pattern, flags = re.IGNORECASE)

### Pruebas de campos

In [ ]:
df.iloc[55476]['description']

### Funciones

In [8]:
# Busca claves segun pattern en columna dentro de dataFrame 
# Entrada: pattern, columna, df
# Salida: DataFrame

def busca_claves(pattern, columna, df_aux):
    regex = re.compile(pattern, flags = re.IGNORECASE)
    m = pd.DataFrame([regex.findall(n) for n in df_aux[columna].head(100)])
    return m[0]

In [9]:
def existe_clave(key, columna, df_aux):    
    m = []
    for frase in df_aux[columna]:
        if key in frase:
            m.append(True)
        else:
            m.append(False)
    return sum(m)

In [10]:
def quitar_caracteres(column):
    for i in range(len(column)):
        if type(column[i]) == str:
            column[i] = str.lower(unidecode.unidecode(column[i]))

In [30]:
quitar_caracteres(properatti1["place_name"])
quitar_caracteres(properatti1["place_with_parent_names"])
quitar_caracteres(properatti1["country_name"])
quitar_caracteres(properatti1["state_name"])
quitar_caracteres(properatti1["description"])
quitar_caracteres(properatti1["title"])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
existe_clave("$","description",df_a1)

19348

### Concatenar DFs

In [ ]:
pd.concat([df3, df4], axis='columns')

### TESTING Regex

In [12]:
df1 = busca_claves(pattern,'description',df_a1)
#df1 = busca_claves(pattern,'description',df_a1)
#df2 = busca_claves(pattern,'title',df_a1)

In [ ]:
#prod.apply(lambda x: pd.api.types.infer_dtype(x.values))

In [65]:
# Dejamos todos los strings en minusculas sin acentos

quitar_caracteres(df1)
df1 = pd.DataFrame(df1)


#df1
#df1.rename(index={0:'ambientes'}, inplace=True)

### Rutina para reemplazar literales a numeros

In [63]:
# Armo DF de ambientes

df1 = busca_claves(pattern,'description',df_a1).head(30)

In [66]:
# Coloco nombre en la columna para luego hacer merge

df1.rename(columns={0:'ambientes'}, inplace=True)

In [74]:
dic = {'mono': 1, 'un':1, 'uno':1, 'dos':2, 'tres':3, 'cuatro':4, 'cinco':5 ,'seis':6 ,'siete':7}
lista_prop = ['mono','un','uno','dos','tres','cuatro','cinco','seis','siete']

def cambiar_x_nros(df):
    return pd.DataFrame([x if x not in lista_prop else dic.get(x) for x in df1['ambientes']])

# Le voy a dar otra vuelta para reemplazar los no numericos por NaNs

In [72]:
cambiar_x_nros(df1)

       0
0   2
1   None
2   2
3   3
4   None
5   None
6   None
7   1
8   2
9   None
10  None
11  1
12  2
13  3
14
15  None
16  4
17  3
18  los
19  t
20  None
21  None
22  los
23  t
24  4
25  4
26  None
27  None
28  4
29  sus

### Fin rutina

In [41]:
#df1['ambientes'] = df1['ambientes'].apply(lambda x: dic.get(x))
#df1

#df1['ambientes'].apply(lambda x: dic.get(x))
#df["Date"] = df["Member"].apply(lambda x: d.get(x))

In [17]:
# DF para join muchos a muchos

df_conve = pd.DataFrame({'ambientes': ['mono','un','uno','dos','tres','cuatro','cinco','seis','siete'],
           'numero': [1,1,1,2,3,4,5,6,7]})
df_conve

  ambientes  numero
0  mono      1
1  un        1
2  uno       1
3  dos       2
4  tres      3
5  cuatro    4
6  cinco     5
7  seis      6
8  siete     7

In [18]:
# Pasaje de cifras literales a nros

df2 = pd.merge(df1,df_conve)
df2

  ambientes  numero
0  mono      1
1  dos       2

# SIN USO

In [ ]:
#tmp_df = df["cases"].str.extract("([a-z])([0-9]+)([0-9]{2})",expand=True) 
tmp_df = df["description"].str.extract("((\d*)\s?\b[aA]mb\w*)",expand=True) 
tmp_df.dropna(axis=0)

In [13]:
# TEST: Regex de prueba. Alimenta un DF con el resultado
# CONDICION: No lee NaN's
# NOTA: Me di cuenta que REGEX analiza todo el str y en muchos casos detecta la KEY en varias partes del 
#   str, ergo, al capturar el siguiente dato, lo incluye dentro de una lista y eso lo representa en otra columna
#   Entonces ponerle nombre a una única columna no tendría sentido. Si verificamos con .head(10) no vamos
#   a tener problemas porque justo las 10 primeras filas no tienen mas de una KEY en el str a analizar...

#m = pd.DataFrame([regex.findall(n) for n in df_a1['description'].head(10)], columns=["ambientes"] )
m = pd.DataFrame([regex.findall(n) for n in df_a1['description'].head(50)])
#m = pd.DataFrame([regex.findall(n) for n in df_a1['description']])
display(len(m))
#m
m[0]

NameError: name 'regex' is not defined

In [38]:
# Para pasar una linea a un tipo en particular:

c = "1"
pd.to_numeric(c,int)

3