# Desafío 01

* Importación de librerías
* astype()

In [28]:
import pandas as pd
import numpy as np
import re as re

In [2]:
# Para ver el contenido total de las columnas

pd.set_option('display.max_colwidth', -1)
#pd.set_option("display.max_columns", len(properatti.columns))

In [3]:
df = pd.DataFrame(pd.read_csv("data/properatti.csv", encoding='UTF-8'))


#!head nombreArchivo.cvs --> comando de linux para ver las 5 primeras lineas. Se puede utilizar para ver como estan separados los datos

In [ ]:
df.info(verbose=None, null_counts=True)

In [4]:
df.sample(1)['description']

90310    Casa en PH al frente ubicada en barrio Colón.Ideal inversión para renta.Con escritura
Name: description, dtype: object

* Información de las columnas

In [ ]:
# Busqueda de NaNs
df[pd.isnull(df['description'])]

### Reemplazo de NaN's
Esto se realiza porque la función de búsqueda explotaba

In [9]:
df_a1=df.replace(np.nan,'sin-dato')
df_a1.head(2)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3.43079e+06,"-34.6618237,-58.5088387",-34.6618,...,40,1127.27,1550,sin-dato,sin-dato,sin-dato,http://www.properati.com.ar/15bo8_venta_ph_mataderos_lavadero_patio_inmobiliaria-fedele,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO, REFACCIONADO A NUEVO, PATIO GRANDE, CON LAVADERO, LIVING COMEDOR CON COCINA INTEGRADA, ARTEFACTO DE COCINA, ALACENA, BAÑO COMPLETO, Y DORMITORIO. TODO EN EXCELENTE ESTADO, PARA HABITAR.NO ES APTO CREDITO Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIKufMJMwHtquzhk=/trim/198x0/smart/filters:strip_icc()/inmobiliariafedele.com/photos/CARHUE%202278-IMG_3400.JPG
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3.43204e+06,"-34.9038831,-57.9643295",-34.9039,...,sin-dato,sin-dato,sin-dato,sin-dato,sin-dato,sin-dato,http://www.properati.com.ar/15bob_venta_departamentos_la-plata_balcon_lavadero_toilette_garage_estrenar_antonini-propiedades_dcp,"Venta de departamento en décimo piso al frente, a estrenar. Living comedor con ventanales hacia el balcón con pisos de madera. Cocina completa con doble mesada, muebles bajo mesada. Lavadero separado. Toilette.Dormitorio con placard. Segundo dormitorio a dividir. Calefacción por radiadorBaño completo.Balcón corrido. Posibilidad de cochera semicubierta. U$D 20.000 Aviso publicado por Pixel Inmobiliario (Servicio de Páginas Web para Inmobiliarias).",VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv45KAKirGL3JM8=/trim/198x0/smart/filters:strip_icc()/antoninipropiedades.com/photos/401-1-7%20y%2037%2010A%201.jpg

In [ ]:
pd.set_option('display.max_colwidth', -2)

In [ ]:
df_a1.iloc[45:46]['description']

### Pattern

In [16]:
# Comentar lo que no se deba ejecutar

#pattern = r'(\d+)\s[m]2' # Patron para buscar metros cuadrados (m2)
pattern = r'(\d*\w*)\s*amb'  # Patron para buscar metros ambientes
#pattern = r'(\d*)\s?\b[aA]mbientes\w*'
#pattern = r'(\d*\w*)\s*usd'
#pattern = r'(\d*\w*)\s*habitacion|(\d*\w*)\s?cuarto|(\d*\w*)\s?dorm|(\d*\w*)\s?pieza'

In [17]:
regex = re.compile(pattern, flags = re.IGNORECASE)

### Pruebas de campos

In [ ]:
df.iloc[55476]['description']

### Funciones

In [18]:
# Busca claves segun pattern en columna dentro de dataFrame 
# Entrada: pattern, columna, df
# Salida: DataFrame

def busca_claves(pattern, columna, df_aux):
    regex = re.compile(pattern, flags = re.IGNORECASE)
    m = pd.DataFrame([regex.findall(n) for n in df_aux[columna].head(100)])
    return m[0]

In [7]:
def existe_clave(key, columna, df_aux):    
    m = []
    for frase in df_aux[columna]:
        if key in frase:
            m.append(True)
        else:
            m.append(False)
    return sum(m)

In [12]:
existe_clave("$","description",df_a1)

19348

### Concatenar DFs

In [ ]:
pd.concat([df3, df4], axis='columns')

### TESTING Regex

In [30]:
df1 = busca_claves(pattern,'description',df_a1)
#df1 = busca_claves(pattern,'description',df_a1)
#df2 = busca_claves(pattern,'title',df_a1)

In [ ]:
prod.apply(lambda x: pd.api.types.infer_dtype(x.values))

In [39]:
df1 = busca_claves(pattern,'description',df_a1)

#[isinstance(elem, int) for elem in df1]

df1

0     2
1     None
2     2
3     3
4     None
5     None
6     None
7     MONO
8     DOS
9     None
10    None
11    1
12    2
13    3
14
15    None
16    4
17    3
18    los
19    t
20    None
21    None
22    los
23    t
24    4
25    4
26    None
27    None
28    4
29    sus
     ...
70    2
71    3
72    1
73    None
74    Mono
75    JACHALTRES
76    None
77    3
78    None
79    monom
80    None
81    2
82    1
83    None
84    None
85    None
86    None
87    None
88    None
89    None
90    None
91    None
92    None
93    None
94    None
95    None
96    2
97    2
98    2
99    None
Name: 0, Length: 100, dtype: object

In [53]:
df1[]

0     (, , Y, )
1     (, , , )
2     (, , Y, )
3     None
4     (, , 1, )
5     (, , dos, )
6     (, , DOS, )
7     None
8     None
9     (, , PATIO2, )
10    (, , 3, )
11    (, , 2, )
12    (, , 30, )
13    None
14    None
15    (, , 3, )
16    (, , 3, )
17    (, , , )
18    (, , tres, )
19    (, , Segundo, )
20    (, , cuatro, )
21    None
22    (, , 3, )
23    (, , 1, )
24    (, , 3, )
25    (, y, , )
26    (, , dos, )
27    None
28    (, , 3, )
29    (, , al, )
         ...
70    (, , DUCHA, )
71    (, , DUCHA, )
72    None
73    (, , 2, )
74    None
75    (, , LAVADERO, )
76    (, , 3, )
77    (, , dos, )
78    (, , 3, )
79    None
80    None
81    (, , , )
82    None
83    (, , dos, )
84    (, , 2, )
85    (, , 1, )
86    (, , DOS, )
87    (, , 3, )
88    (, , 1, )
89    (, , 1, )
90    (, , 1, )
91    None
92    (, , 2, )
93    (, , 4, )
94    (, , 2, )
95    (, , 1, )
96    (, , el, )
97    None
98    None
99    (, , DOS, )
Name: 0, Length: 100, dtype: object

# SIN USO

In [ ]:
#tmp_df = df["cases"].str.extract("([a-z])([0-9]+)([0-9]{2})",expand=True) 
tmp_df = df["description"].str.extract("((\d*)\s?\b[aA]mb\w*)",expand=True) 
tmp_df.dropna(axis=0)

In [13]:
# TEST: Regex de prueba. Alimenta un DF con el resultado
# CONDICION: No lee NaN's
# NOTA: Me di cuenta que REGEX analiza todo el str y en muchos casos detecta la KEY en varias partes del 
#   str, ergo, al capturar el siguiente dato, lo incluye dentro de una lista y eso lo representa en otra columna
#   Entonces ponerle nombre a una única columna no tendría sentido. Si verificamos con .head(10) no vamos
#   a tener problemas porque justo las 10 primeras filas no tienen mas de una KEY en el str a analizar...

#m = pd.DataFrame([regex.findall(n) for n in df_a1['description'].head(10)], columns=["ambientes"] )
m = pd.DataFrame([regex.findall(n) for n in df_a1['description'].head(50)])
#m = pd.DataFrame([regex.findall(n) for n in df_a1['description']])
display(len(m))
#m
m[0]

NameError: name 'regex' is not defined

In [38]:
# Para pasar una linea a un tipo en particular:

c = "1"
pd.to_numeric(c,int)

3