In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import unidecode

In [2]:
properatti = pd.read_csv("properatti.csv", encoding="UTF-8")

In [82]:
properatti1 = properatti[0:1000] #para probar las cosas sin que tarden mucho

In [64]:
pd.set_option('display.max_colwidth', 500)
pd.set_option("display.max_columns", len(properatti.columns))

In [ ]:
properatti.shape

In [ ]:
len(properatti.columns)

In [ ]:
len(properatti.index)

In [ ]:
properatti.head(5)

In [97]:
properatti[properatti["description"].isnull()==True]

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
10664,10664,sell,apartment,Villa Carlos Paz,|Argentina|Córdoba|Villa Carlos Paz|,Argentina,Córdoba,3832791.0,"-31.4207828,-64.4992141",-31.420783,-64.499214,2350000.0,ARS,2325485.81,131796.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/168nc_venta_departamento_villa-carlos-paz_balcon_piscina_quincho_garage_aire-acondicionado_tallarico-prop,NaN,HERMOSO DEPARTAMENTO CON PISCINA Y COCHERA,https://thumbs4.properati.com/6/JiAoy6zsKPeBobswP_iNIel8FQg=/trim/198x0/smart/filters:strip_icc()/tallarico.com.ar/photos/0048-14581583_1801604653396132_6593153683997444430_n%20(1).jpg
96691,96691,sell,apartment,San Fernando,|Argentina|Bs.As. G.B.A. Zona Norte|San Fernando|,Argentina,Bs.As. G.B.A. Zona Norte,3429088.0,NaN,NaN,NaN,98000.0,USD,1729161.00,98000.00,NaN,55.0,NaN,1781.818182,NaN,NaN,NaN,http://www.properati.com.ar/1bj1r_venta_departamento_san-fernando_dl-delcastilloprop,NaN,Departamento - San Fernando,https://thumbs4.properati.com/1/FZZcNCsb4-ucU2tHZzcGnz9cAXc=/trim/198x0/smart/filters:strip_icc()/tbcn.s3-accelerate.amazonaws.com/pictures/97167690691021099014876125662787939056761097664237264318413016129438379680395.jpg

In [ ]:
len(properatti1["place_name"])

In [5]:
def quitar_caracteres(column):
    for i in range(len(column)):
        if type(column[i]) == str:
            column[i] = str.lower(unidecode.unidecode(column[i]))

In [6]:
# quitar_caracteres(properatti1["place_name"])
# quitar_caracteres(properatti1["place_with_parent_names"])
# quitar_caracteres(properatti1["country_name"])
# quitar_caracteres(properatti1["state_name"])
quitar_caracteres(properatti1["description"])
quitar_caracteres(properatti1["title"])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [153]:
def existe_clave(key, columna, df_aux):
    m = []
    for i in range(len(df_aux.index)):
        if type(df_aux[columna][i]) == str :
            if key in df_aux[columna][i]:
                m.append(True)
                print(df_aux[columna][i])
            else:
                m.append(False)
    return sum(m)

In [161]:
#print("$", existe_clave("$", "description", properatti1))
# existe_clave("salon de usos multiples", "description", properatti1)
# existe_clave("gim", "description", properatti1)
# existe_clave("gym", "description", properatti1)
# existe_clave("gimnasio", "description", properatti1)
# existe_clave("pileta", "description", properatti1)
# existe_clave("piscina", "description", properatti1)
# existe_clave("solarium", "description", properatti1)
# existe_clave("garage", "description", properatti1)
# existe_clave("cochera", "description", properatti1)
# existe_clave("baulera", "description", properatti1)
# existe_clave("laundry", "description", properatti1)
# existe_clave("lavadero", "description", properatti1)
# existe_clave("sauna", "description", properatti1)
#print("mts²:", existe_clave("mts", "description", properatti1))
#print("metros:", existe_clave("metros 2", "description", properatti1))
#print("$:", existe_clave(" $ ", "title", properatti))

Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.685.801
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.796.729
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.716.176
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.685.801
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.377.901
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.890.710
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 4.038.832
Departamento con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 2.749.620
Departamento 58m² con Plantas en Belgrano 900, Bs.As. G.B.A. Zona Norte, San Fernando, por $ 1.785.000
Departamento 133m² con 3 Plantas en Belgrano 900, Bs.As. G.B.A. Zona Norte, San Fernando, por $ 2.750.000
DEPARTAMENTO EN VENTA EN NEUQUéN, ÁREA CENTRO SUR $ 1260000
Departamento 85m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.622.161
Departamento 44m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.519.035
Departamento 61m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.047.845
Departamento 58m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.942.528
Departamento 50m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.739.012
Departamento 50m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.739.012
Departamento 77m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.355.111
Departamento 44m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.578.065
Departamento 94m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 3.203.722
Departamento 57m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.972.799
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.896.330
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.896.330
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.896.330
Departamento 50m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.599.683
Departamento 50m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.599.683
Departamento 75m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.380.926
Departamento 44m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.630.356
Departamento 58m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.067.277
Departamento 58m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.067.277
Departamento 58m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.067.277
Departamento 58m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.067.277
Departamento 58m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.067.277
Departamento 57m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.040.776
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.961.624
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.961.624
Departamento 50m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.652.708
Departamento 75m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.469.434
Departamento 44m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.682.648
Departamento 168m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 3.780.657
Departamento 108m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.431.652
Departamento 108m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.431.652
Departamento 108m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.431.652
Departamento 108m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.431.652
Departamento 113m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.561.435
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.026.917
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.026.917
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.026.917
Departamento 55m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.026.917
Departamento 50m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 1.705.732
Departamento 75m² en Santa Maria De Las Conchas 2000, Tigre, Rincón de Milberg, por $ 2.557.943
Departamento 64m² con Plantas en O'Higgins 400, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.707.000
Casa 4 amb de categeoria + depto 2 amb garage, en muy buenas condiciones y tiene una renta actual de $ 11.000.-
NVA CORDOBA VENTA DEPARTAMENTOS 1 DORM AV PUEYRREDON 200 DESDE  $ 1.201.000 A ESTRENAR
Oportunidad en Monserrat 50 MTRS 3 AMB 900 $ Exp.!
Departamento 103m² con Cochera, Tigre, Benavidez, por $ 3.299.212
Departamento 96m² con Cochera, Tigre, Benavidez, por $ 3.128.804
Departamento 66m² con Plantas, Tigre, Benavidez, por $ 2.586.056
Departamento 115m² con Cochera, Tigre, Benavidez, por $ 3.624.480
Departamento 109m² con 2 Plantas, Tigre, Benavidez, por $ 3.790.860
Belgrano Depto. 1 Amb. Interno. 30 mt2 Amenabar y Zabala Fé U$S 85.000 Exp. $ 1.400
Departamento 81m² con Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.757.647
Casa 293m² con 2 Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.050.000
Casa 293m² con 2 Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.050.000
Departamento 68m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.683.529
Departamento 81m² con Dependencias, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.683.529
Casa 293m² con Dependencias, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.224.340
Departamento 53m² con Dependencias, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.054.588
Departamento 46m² con Dependencias, Bs.As. G.B.A. Zona Norte, Pilar, por $ 940.235
Casa 293m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 2.763.600
Departamento 68m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.683.529
Casa 293m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.224.340
Departamento 81m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.575.529
Casa 293m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.054.588
Casa 293m² con 2 Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.224.340
Departamento 81m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.575.529
Casa 293m² con 2 Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 3.559.500
Casa 365m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 2.800.000
Departamento 81m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.757.647
Departamento 68m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.683.529
Departamento 40m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 904.235
Departamento 40m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 904.235
Local 480m² en Moreau De Justo, Alicia Av. 1700, Capital Federal, Puerto Madero, por $ 8.000.000
VENTA 3 AMBIENTES CON DEPENDENCIA 91 mts  EN UN PRIMER PISO POR ESCALERA AL FRENTE CON MUY BAJAS EXPENSAS $ 300
DEPARTAMENTO EN VENTA EN NEUQUéN, ÁREA CENTRO ESTE $ 0
DEPARTAMENTO EN VENTA EN NEUQUéN, ÁREA CENTRO ESTE $ 0
Vendo Oficina, depósito, Local $ 480.000 muy buena ubicación
Departamento 62m² con Plantas en Ruta 26 1400, Escobar, Maschwitz, por $ 1.672.115
Departamento 47m² en Ruta 26 1400, Escobar, Maschwitz, por $ 1.306.406
Departamento 67m² en Ruta 26 1400, Escobar, Maschwitz, por $ 1.420.356
Departamento 83m² en Ruta 26 1400, Escobar, Maschwitz, por $ 2.259.106
Departamento 89m² en Ruta 26 1400, Escobar, Maschwitz, por $ 2.222.669
Departamento 96m² en Ruta 26 1400, Escobar, Maschwitz, por $ 2.428.220
Casa 154m² con Cochera en Guido, Gral. 2500, Argentina, Capital Federal, por $ 4.768.500
Casa 154m² con Cochera en Guido, Gral. 2500, Argentina, Capital Federal, por $ 4.603.500
Casa 165m² con 2 Plantas en Guido, Gral. 2500, Argentina, Capital Federal, por $ 5.032.500
Hermoso Chalesito en Apostoles!!! $ 1.900.000

Hermoso Departamento en Planta Baja 1 dorm. $ 1.250.000
***IDEAL INVERSOR CON RENTA DE $ 4500**** COQUETO MONOAMBIENTE - 5º PISO AL FRENTE EN HAEDO SUR.
Venta 1 y 2 amb Financiados $ Entre Rios 1200
Venta 1 y 2 amb financiados $ Castro 900
sj242- DEPA EN CUOTAS $ 7.821- SIN ANTICIPOSSS
b182- EXQUISITOS APARTS CON PISCINA POR $ 5.711 x mes en Pes
b194- APARTA EN PREVENTA POR $ 5.754.- por mes
b196- DEPA FINANCIADO EN 8 AOS - EN CUOTAS $ 5.780-
b198- TU DEPA TE LO FINANCIAMOS EN LOS AOS QUE QUIERAS x $
b200- DEPA CON PISCINA EN 96 CTAS $ 5.744 x mes en PESOS
A2.2- DEPAS CON PISCINA EN CUOTAS DE $ 5.895- EN PESOS
A10- APART EN PREVENTA EN 48 CUOTAS DE $ 6.485.-
A2.3- TU DEPA EN 96 CUOTAS DE $ 5.855- EN PESOS Y SIN INTERE
Cc8.6-  48 CUOTAS DE $ 6.535 Y MINIMO ANTICIPO EN PESOS.
Dd39.0- MONOAMBIENTE, EN EDIFICIO PREMIUN EN 48 CUOTAS DE $
v897- TU DEPTO EN BOEDO DESDE CUOTAS DE $ 6.010- por mes
L30- DEPA EN 96 CUOTAS DESDE $ 6.000- POR MES EN PESOS
b210- TU DEPA EN 96 CUOTAS DE $ 6.500.- EN PESOS
L32- BOEDO CON PISCINA EN CUOTAS DE $ 6.050- en pesos
v899- BOEDO DEPTO CON PISCINA DESDE $ 6.015- en PESOS
L34- TENE TU DEPA Y PAGALO HASTA EL 2014 EN CUOTITAS DE $ 6.
b214- LA MEJAR FINANCIACION EN $ 6.500 por mes PARA TU DEPA
L36- APART EN CUOTITAS DE $ 6.080- en pesos por mes
L38- DEPA POR $ 5.994.- POR MES EN 96 MESES  - TODO EN PESOS
v905- BOEDO EN CUOTITAS DESDE $ 5.998.- por mes
b220 - DEPA EN CUOTAS DE $ 6.507 x mes en 96 meses
L40- BOEDO EN CUOTAS DE $ 6.003.- en 90 cuotas en pesos
b222- APARTAMENTOS EN CUOTAS DE $ 6.503 EN PESOS
v909- DEPTO POR $ 5.999.- por mes EN 96 CUOTITAS
b224- TENE TU DEPA - SOLO EN CUOTAS DE $ 5.976 x mes EN PESO
L44- DEPA EN 96 CUOTAS DE $ 6.002.- por mes EN PESOS
b230- DEPARTAMENTO 1 AMB EN 96 MESE DE $ 6.444.- EN PESOS
bp209- Tu depa financiado a 8 anos por $ 6.002 x mes EN PESO
bp211- Depa con piscina en 96 cuotas $ 5.990 x mes
dp125- TU UNICO DEPA SOLO POR $ 6.485 x mes
ep507-TU DEPA CON PISCINA EN 48 CUOTAS DE $ 7.200
dp219- DEPA EN CUOTITAS DESDE $ 6.000 TODO EN PESOS
dp145-DEPA TODO EN CUOTAS DESDE $ 6.000  mes
dp155-DEPA TODO EN CUOTITAS DESDE $ 6.000  mes
dp157-DEPA FINANCIADO EN VARIOS AOS EN CUOTAS DESDE $ 6.000
dp159-DEPTO FINANCIALO EN 8 AOS EN CUOTITAS DESDE $ 6.000
DEPTOS FINANCIADOS EN 8 AOS EN CUOTAS DESDE $ 6.000 xmes
B398-DEPTO EN 48 CUOTAS DE $ 7.403 en pesos CON PISCINA
B317- MUY BUENA OPORTUNIDAD- DEPTO EN 96 CUOTAS DE $ 6.090 x
SC611- EXCLUSIVO 2 AMB EN 96 CUOTAS de $ 12.711- SIN ANTICIP
B415-DEPA CON AMENITIES Y EN 48 CUOTAS $ 7.298- EN PESOS
Sc613- 2 AMB FINANCIADO EN 8 AOS POR $ 14.190- por mes en P
B259-EXCLUSIVO LANZAMIENTO EN 96 CUOTAS DE $ 6.510x MES  en
B419- EL CONFORT EXSTE- NO TE LO PIERDAS TU DEPA EN CTAS $ 7
B457-MONOAMBIENTE EN PRE VENTA EN 48 CUOTAS DE $ 7.390 x mes
B299- ESPECIAL DEPTO EN 96 CUOTAS DE $ 6.534- X MES EN PESOS
bn101- DEPA EN CUOTAS DESDE $ 6.000 - PUEDE SER TUYO
sjn203- DEPTOS DESDE $ 9.500 Y SIN ANTICIPOS
GPL409- TU DEPA CON PISICINA Y EN CUOTAS DESDE $ 6.080 EN PE
BN119- MONOAMBIENTE DESDE $ 6.095- POR MES EN PESOS
CAS702- DEPTO ANTICIPO Y CUOTAS DE $ 8.000 EN PESOS
CAS708- DEPA PREMIUM CON POSESION EN MESES Y CUOTAS $ 7.950.
GPL415- GRAN PRE LANZAMIENTO DESDE $ 6.720 por mes
CAS706- APART PREMIUM BOEDO EN 48 CUOTAS DE $ 7.900 EN PESOS
BN141- APROVECHA ESTE DEPTO EN CUOTITAS DESDE $ 6.340 EN PES
PF511- BOEDO CON PISCINA Y EN CUOTAS DESDE $ 6.525 EN PESOS
PF513- DEPAS DE 1 Y 2 AMB EN 96 CUOTAS DESDE $ 6.450.-
CAS710- MUDATE EN 12 MESES EN CUOTAS DE $ 8.150 por mes
GPL419- TU PRIMER DEPARTAMENTO DESDE $ 6.925.- por mes
FNB317- DEPAS CON PISCINA EN CUOTITAS DESDE $ 6.950 por mes
GPL421- EL MEJOR VALOR DE TODO BOEDO - EN CUOTITAS DESDE $ 6
PF519- APARTAMENTO FINANCIADO POR $ 6.540 POR MES EN PESOS
GPL423- EL MEJOR LANZAMIENTO POR $ 6.925.- EN PESOS
BN143- DEPA DESDE $ 6.005 la cuota - CUPOS LIMITADOS
CAS712- VIVI EN 11 MESES EN CUOTAS DE $ 10.500.-
SJN243- DEPA 2 AMB POR $ 12.700 X MES Y SIN ANTICIPO
CAS714- PREMIUM BOEDO- CUOTAS $ 10.550 - A ESTRENAR
CAS716- A ESTRENAR DEPA EN CUOTAS DE $ 10.300 X MES
CAS718- DEPA INCLREIBLE EN CUOTAS DE $ 10.640 X MES EN PESOS
mir502- 2 AMBIENTES EN 86 CUOTAS DE $ 13.990.- x mes EN PESO
bf202- DEPTO EN BOEDO CON ANTICIPO Y CUOTAS DESDE $ 7.380.-
sj302- DEPA EN TORRE - 2 AMB EN CUOTAS DESDE $  12.130.-
cas403- DEPTO ANTICIPO FINANCIADO Y CUOTAS DE $ 10.500-
sj303- SAN CRISTOBAL DEPAS 38 M2 EN CUOTAS DE $ 10.410.- por
bf203- BOEDO CON ANTICIPO Y 48 CUOTAS DE $ 7.405.- EN PESOS
mir503- ULTIMO DEPA CON PEQUEO ANTICIPO Y CUOTAS DE $ 13.87
cas404- DEPA POSESION 2016 - ANTICIPO Y CUOTAS DESDE $ 10.62
sj304- DEPA TODO EXTERNO - 40 M2 EN CUOTAS DESDE $ 11.500.-
mir505- 2 AMB EN CUOTAS $ 13.910 X 7 AOS EN PESOS POR MES
cas405- UNICO DEPA EN EL MEJOR BARRIO EN CUOTITAS DESDE $ 10
sj305- EXCELENTE 2 AMB EN 48 CUOTAS DE $ 12.090.- EN PESOS Y
bf205- EXCLUSIVA OPORTUNIDAD EN 48 CUOTAS DESDE $ 7.415.- PO
sj306- EL NEGOCIO DEL MOMENTO - EN CUOTAS DE $ 12.120.-
bf206- LINDO MOMENTO PARA TENER TU DEPA EN CUOTAS DE $ 7.470
cas406- MUDATE EN UNOS MESES - DEPA EN CUOTAS DE $ 10.610.-
mir509- DEPA EN CABA - EN 86 CUOTAS DE $ 13.790.-
mir510- SAN CRISTOBAL - EN CUOTAS MENSUALES DE $ 13.910-
mir511- TU 2 AMB TE ESPERA EN CUOTAS DE $ 13.905.-
mir515- LIVING Y DORMITORIO POR $ 13.895 por mes
mir522 EL ULTIMO DEPTO EN CUOTAS DESDE $ 10.000
mir535- CONSULTE POR ANTICIPO Y CUOTAS DE $ 13.750-
bf221- INCREIBLE FORMA DE PAGO- ANT Y CUOTAS DE $ 7.490.-
gl811- CONSTRUCTORA DEPAS FINANCIADOS DESDE $ 7.610-
cata721- AMPLIO DEPA - ANTIC Y CUOTAS $ 13.350-
mir536- SOBRE AVENIDA Y EN CUOTAS EN PESOS DE $ 13.850-
cata722- DEPA AL FRENTE CON ANTIC FINANCIADO Y CUOTAS DE $ 1
mir537- 1 DEPTO DE 2 AMB EN CUOTAS DE $ 13.950 TODO EN PESOS
cata723- DEPARTAMENTO LUMINOSO Y EN CUOTAS DESDE $ 13.450-
bf224- MODERNO DISEO DE APART EN CUOTAS DESDE $ 7.385-
cata724- PRIMERA LINEA AL FRENTE EN CUOTAS DE $ 13.485-
mir539- ULTIMA UNIDAD DISPONIBLE 2 AMB CUOTAS $ 13.780-
bf225- DEPA CON AMENITIES A FULL CON ANT Y CUOTAS DESDE $ 7.
cata725- DEPA 1 AMBIENTE DIVISIBLE EN CUOTAS DESDE $ 13.310-
gl815- PROYECTO PARA VOS Y TU DEPA DESDE $ 7.635-
mir540- GRAN OPORTUNIDAD - 2 AMB - 86 CUOTAS DE $ 13.830-
bf227- UBICACION DE PRIVILEGIO - ANTICIPO Y CUOTAS $ 7.412-
mir543- TORRE 2 AMB EN CUOTAS DESDE $ 13.811- EN PESOS
bf228- AMENITIES Y PISCINA - DEPA EN CUOTAS DE $ 7.432.-
mir544- AHORA PODES SER DUEO 2 AMB x $ 13.798 x mes
bf229- INVERTI BIEN - DEPA CON ANTICIPO Y CUOTAS DE $ 7.444.
bf230- HACE VALER TUS AHORROS - DEPA EN CUOTAS DE $ 7.411.-
fav501- EN UN BARRIO CERCA DE TODO 2 AMB $ 13.823-
bf231- ZONA EXCELENTE - DEPA CON PISICINA EN CUOTAS DE $ 7.4
GL818- COMPLEJO CON PISICINA - DEPA EN CUOTAS DE $ 7.535.-
mxn102- 2 AMB EN CUOTAS DE $ 14.400 en pesos
GL820- TODO LUZ Y SOL EN CUOTAS DE $ 7.511.-
GL821- UN EXCELENTE LUGAR PARA VIVIR POR $ 7.478 X MES
GL822- INVIERTA PAGANDO EN CUOTAS DE $ 7.456.- X MES
GL823- COMBO DEPA + PISCINA EN CUOTAS DESDE $ 7.580-
mxn109- TE MERECES ESTRENAR TU DEPA DE 2 AMB EN CUOTAS DE $
GL825- DEPARTAMENTO CON PISCINA EN CUOTAS DESDE $ 7.585.-
mxn110- POR POCOS DIAS - 2 AMB EN CUOTAS DE $ 14.340.-
bf232- PROYECTO DEPTOS EN CUOTAS DESDE $ 7.532.-
GL826- MONOAMBIENTES EN CUOTAS DESDE $ 7.625.-
bf233- INVERTI EN PROPIEDADES DESDE $ 7.520.-
GL827- FINANCIAMOS TU DEPA EN CUOTAS DE $ 7.613.-
GL829- IDEAL PARA VOS - DEPA SOLO POR CUOTAS $ 7.611.-
mxn114- 2 AMBIENTES MUY LUMINOSOS Y EN CUOTAS DE $ 14.513.-
boe237- FORMIDABLE DEPTO CON AMETIES EN CUOTAS DE $ 7.650.-
boe239- RESERVA TU DEPA Y PAGALO EN CUOTAS DE $ 7.680-
boe241- LINDA OPORTUN PARA CAMBIAR DE BARRIO EN CUOTAS DE $
boe240- VISTOSO DEPARTAMENTO EN CUOTITAS DE $ 7.630-
lan836- ACCEDE A TU DEPA POR $ 7.455 x mes
tor911- DEPTO 1 AMBIENTES Y MEDIO - CUOTAS DESDE $ 10.400-
boe242- EN UN BARRIO PORTEISIMO - EN CUOTAS DE $ 7.355.-
sj122- 2 AMB EDIFICIO TORRE - SOLO EN CUOTAS DE $ 14.350-
tor912- DEPA DE 38 M2 EN CUOTAS DESDE $ 10.380-
boe244- IMPERDIBLE APART FINANCIADO EN CUOTAS $ 7.435.-
tor913- AMPLISIMO DEPARTAMENTO EN CUOTAS DESDE $ 10.100.-
boe245- TORRE PISCINAS II - EN CUOTAS DE $ 7.425- xx mes
tsa559- OUTLET DE 2 AMB EN CUOTAS $ 14.415.-
tor915- DEPA 39 M2 - EN CUOTAS DE $ 10.250.-
avb660- IMPACTANTE  $ 536.000 PRECIO TOTAL
tsa560- LA OPCION PARA MUDARTE POR $ 14.435 x mes En pesos
tor916- LO MEJOR PARA COMENZAR CON TU DEPA POR $ 10.380 x me
avb661- IDEAL INVERSON SOLO POR $ 539.000 PESOS EN TOTAL
tor917- INAGURA TU DEPA POR $ 9.990 x mes Y EN PESOS
avb662- 2 ULTIMOS DEPTOS A SOLO $ 542.000 TOTAL, CADA UNO
lan842- BOEDO SOBRE AVENIDAS Y CON PILETA Y EN $ 7.544-
avb663- NO TE LO PIERDAS - A SOLO $ 539.600-
lan843- SORPRENDENTE FINANCIACION EN CUOTAS $ 7.413 x mes
boe249- CONTEMPORANEO EDIFICIO DESDE $ 7.480 por mes
sj128- CON BALCON SOBRE AVENIDA LIVING Y DORMITORIO POR $ 14
tor919- PISO ALTO SAN CRISTOBAL FINANCIADO X $ 10.450 x mes
sj129- AVENIDA SAN JUAN 2 AMBIENTES POR $ 14.550-
fac021- EN CABA TU DEPA PAGALO POR MES ENTRE $ 7.000 A 14.00
cata421- DESARROLLO DEPARTAMENTO EN CUOTAS DE $ 13.550-
lan844- DESARROLLO INMOBILIARIO EN CUOTAS DESDE $ 7.520-
tsa564- RESIDENCIAL DEPTO 2 AMB Y FINANCIACION EN CTAS $ 15.
boe250- AV BOEDO - DEPTO FINANCIADO DESDE $ 7.510-
avb664- CONSTRUCTORA VENDE DEPA POR $ 543.000 total
fac022- EMPRESA CONSTRUCTORA TIENE TU DEPA A PARTIR DE $ 7.5
casa en moreno $ 350000.-
tor920- EN LAS AVENIDAS MAS PROXIMA CENTRO y en cuotas de $
lan845- CERCA DE PLAZAS DEPTO SOLO EN CUOTAS DE $ 7.505 EN P
cata422- ALREDEDOR DE AVENIDAS Y PLAZAS DEPTO EN CUOTAS $ 13
sj130- VENTA DIRECTA 2 AMB EN CUOTAS DE $ 14.590 en pesos
tsa565- BONITO DEPTO DE LIVING-COMEDOR Y DORMITORIO x $ 14.8
boe251- AV INDEPENDENCIA - TU APART POR $ 7.525 X MES
avb666- SEA DUEO DE UN DEPA TODO POR $ 538.000- EN PESOS
lan846- APTO PROFESIONAL - DEPTO EN CUOTITAS DE $ 7.495- x m
cata423- SOLO PARA VIVIENDA TU DEPARTAMENTO POR $ 13.400-
tor921- PARA TU FAMILIA TU DEPA EN CUOTAS DE $ 10.490 EN PES
sj131- FLAMANTE DEPTO DE 2 AMB EN CUOTAS MENORES A $ 14.600-
tsa566- EN ZONA CENTRICA DE CABA EN CUOTAS DE $ 14.700
boe252- SEA PROPIETARIO HOY SOLO POR $ 7.490 X MES EN PESOS
lan847- Opciones de inversin - contado o en cuotas de $ 7.4
cata424- Ambito de avenidas y plazas por $ 13,410 x mes
fac024- Emprendimiento en Boedo a partir de $ 7.100 x mes
sj132- Imponente depa en cuotas de $ 15.550 x mes
tor922- Vivienda de 38m2 en cuotas de $ 10.422 mensuales
avb667- Ideal inversor - depa por $ 539.000-
lan848- En construccin - Apart por $ 7,489 x mes
cata425- 1 ambiente al frente divisible en cuotas de $ 13.45
fac025- Monoambiente en el contrafrente a partir de $ 7.200
boe254- Alojamiento con piscina en cuotas de $ 7.455.- x mes
ts568- Especial depa de 40m2 en cuotas mensuales de $ 15.490
boe255- Deseable depto con pileta en cuotas de $ 7.411.-
avb669 - Boedo - el mejor precio de contado $ 539.500
cata427- 33 m2 a estrenar financiado por $ 13.513-
tsa570- Ultima unidad de 2 amb en cuotas de $ 15.395-
avb670- Urgente - Depto solo por $ 538.500-
tor925- Un ambiente y medio en cuotas de $ 10.560 x mes
boe257- Increble unidad en cuotas de $ 7.512 en pesos
cata428- Depa al frente con balcon por $ 13.495-
avb671- Retazado depto por $ 543.000 en pesos
lan851- Preferible financiacin para tu depto por $ 7.516.-
tsa571- Distinto depa a todos de 2 amb por $ 15.439-
sj136- Estilo de financiacin nica en $ 15.495 en pesos
tor926- 38 m2 en Capital por $ 10.480 en pesos
avb672- Depto Capital $ 542.800-
tor927- Superior depto con una financiacion de $ 10.510 mens
lan852- Depa pxmo Parques en cuotas $ 7.522.-
fac030- Depto anticipo en 10 meses y saldo en $ 7.483 x mes
tor928- San Cristobal Departamento 38 m2 en cuotas $ 10.495-
sj138- Macrocentro en cuotas de $ 15.510-
avb675- Departamento 1 ambiente $ 555.000-
avb676- Invert con gran rentabilidad por $ 560.000 total
boe262- Scate las dudas y reserva tu depa por $ 7.505 x mes
sj141- Exito en ventas - 2 amb en cuotas de $ 15.700-
avb677- Departamento con Bonificacin por contado $ 562.000
boe263- Que haces con $ 7.500 x mes? Tene tu depa
cata434- 1 amb al frente divisible en cuotas de $ 13.500
tor932- Departamento Apto Profesional en cuotas de $ 10.510
fac035- No te quedes afuera de tu depa en cuotas de $ 7.510-
avb678- Depto Proyecto solo para inversores por $ 565.000
cata435- A estrenar 1 amb divisible en cuotas de $ 13.450 en
tor933- Ultimo disponible de 39 m2 en cuotas de $ 10.490
boe265- Que haces con $ 7.500 x mes - Tene tu departamento
fac036- La mejor financiacion del mercado en cuotas de $ 7.4
avb680- Boedo la mejor inversin del mercado por total $ 580
boe266- No te quedes sin tu lugar en Boedo por $ 7.495-
avb681- Depa con piscina, jacuzzi por $ 589.000-
cata437- San Cristobal depto 33 m2 divisible en cutas de $ 1
lan860- Entre Avenidas, departamento en cuotas de $ 7.525-
boe267- Vivi tranquilidad y estilo desde $ 7.410 x mes
fac038- Para su bienestar, departamentos en cuotas de $ 7.48
avb682- Tener tu depa depende de vos, solo por $ 590.000 tot
cata438- Un ambiente al frente con balcon en cuotas de $ 12.
tor936- Un ambiente y medio, todo en cuotas $ 10.000-
lan861- En el barrio de apogeo tenes tu depa por $ 7.610-
avb683- Descubri tu depa por un total de $ 595.000.-
tor937- Departamento de 39 m2 divisible por $ 10.480 x mes
cata439- Departamento de 34m2 al frente en cuotas de $ 12.31
fac039- Multiples destinos - departamentos desde $ 7.495 x m
lan862- Ultimas semanas para tu departamento por $ 7.410 x m
tor938- 1 ambiente y medio de 38m2 financiado x $ 10.435- x
cata440- Depto A Estrenar Al Frente en cuotas de $ 12.800-
boe269- Boedo - Depto rebajado y en cuotas de $ 7.435-
sj148- Departamento sobre avenida en cuotas de $ 15.650-
lan863- Exclusivo monoambiente financiado por $ 7.489 x mes
boe270- Departamentos a estrenar en cuotas de $ 7.425 en pes
sj149- Apart de 2 amb con balcon x $ 15.560 x mes
lan864- Departamento A estrenar en cuotas de $ 7.456.- en pe
boe271- Boedo venta monoambiente en cuotas de $ 7.520-
sj150- Dueo vende depto 2 amb en cuotas de $ 15.580-
lan865- Emprendimiento, cuotas desde $ 7.400-
avb687- Invierta seguro - tu depa por $ 600.000 total
fac043- Impacto - Departamento en cuotas de $ 7.399-
boe272- Empresa constructora te da tu depa en cuotas de $ 7.
sj151 - Departamento 2 amb en 86 cuotas de $ 15.700-
lan866- Nueva opcin para mudarte por $ 7.500-
avb688- Urgente ultimo depa por $ 39.999-
fac044- Tu vivienda en cuotas mensuales de $ 7.435-
cata444- Sobre Catamarca y financiado x $ 12.350-
boe273- Monoambiente con Sum y Amenities x $ 7.560-
sj152- Ultimo depa x $ 15.690 x mes en pesos a 7 aos
tsa587- Apart 40m2 con balcn en cuotas de $ 15.490-
fac045- Prosperidad en depto en cuotas $ 7.430-
cata445- Cambia tu usado x nuevo en cuotas $ 12.340-
boe274- Tu mix ideal de calidad y precio en cuotas de $ 7.48
fac046- Veni a estrenar tu depa por $ 7.505 x mes
avb890- Fortuna, si llegas al nico depa por $ 599.000-
cata446- Proyecto departamento en cuotas de $ 12.350-
boe275- Te invitamos a conocer tu futuro departamento x $ 7.
lan869- Un lugar con todos los servicios en cuotas de $ 7.41
fac047- Sorprendente financiacin por $ 7.465 x mes
lan870- Exito en ventas - departamento en cuotas de $ 7.415-
cata447- Monoambiente en San Cristobal en cuotas de $ 12.370
boe276- Experiencia en depto en Boedo en cuotas $ 7.485-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
fac048- Volve tu casa un lugar especial x $ 7.535 x mes
lan871- Piso alto - departamento en cuotas de $ 7.434-
boe277- Departamento con piscina y parrilla en cuotas de $ 7
Depa de 38 m3 en cuotas $ 10.510 x ms
Bajo de precio, ahora en cuotas de $ 7.398-
boe281-Departamento con pisicina y parrilla cuotas $ 7.510-
boe281-Departamento con pisicina y parrilla cuotas $ 7.510-
Bajo de precio, ahora en cuotas de $ 7.398-
Depa de 38 m3 en cuotas $ 10.510 x ms
Depa de 38 m3 en cuotas $ 10.510 x ms
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
lan871- Piso alto - departamento en cuotas de $ 7.434-
fac048- Volve tu casa un lugar especial x $ 7.535 x mes
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
boe281-Departamento con pisicina y parrilla cuotas $ 7.510-
boe281-Departamento con pisicina y parrilla cuotas $ 7.510-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
lan866- Nueva opci?n para mudarte por $ 7.500-
fac044- Tu vivienda en cuotas mensuales de $ 7.435-
lan862- Ultimas semanas para tu departamento por $ 7.410 x m
cata440- Depto A Estrenar Al Frente en cuotas de $ 12.800-
boe281-Departamento con pisicina y parrilla cuotas $ 7.510-
Depa de 38 m3 en cuotas $ 10.510 x ms
lan871- Piso alto - departamento en cuotas de $ 7.434-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
Departamento en cuotas de $ 7.499-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
boe281-Departamento con pisicina y parrilla cuotas $ 7.510-
Bajo de precio, ahora en cuotas de $ 7.398-
Depa de 38 m3 en cuotas $ 10.510 x ms
lan871- Piso alto - departamento en cuotas de $ 7.434-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
boe276- Experiencia en depto en Boedo en cuotas $ 7.485-
Torre Boedo-departamento en cuotas desde $ 7.550-
Departamento por $ 601.000-
avb890- Boedo, precios bonificados, depa solo por $ 599.950-
Depa de 38 m3 en cuotas $ 10.510 x ms
1 amb c terraza propia en cuotas $ 10.100-
depa solo por este mes en cuotas de $ 10.300
cata439- Departamento de 34m2 al frente en cuotas de $ 12.31
tor937- Departamento de 39 m2 divisible por $ 10.480 x mes
tor938- 1 ambiente y medio de 38m2 financiado x $ 10.435- x
Depto 1 amb bcon tza en cuotas $ 10.050-
Depto tipo loft 38m2 en cuotas $ 10.350
Depto 39m2 en cuotas $ 10.550-
Depto en cuotas desde $ 7.000-
Monoambiente en Boedo en cuotas de $ 7.450-
Monoambiente en Boedo en cuotas de $ 7.450-
Depto en cuotas desde $ 7.000-
Depto 39m2 en cuotas $ 10.550-
Depto tipo loft 38m2 en cuotas $ 10.350
Depto 1 amb bcon tza en cuotas $ 10.050-
1 amb c terraza propia en cuotas $ 10.100-
Departamento por $ 601.000-
boe276- Experiencia en depto en Boedo en cuotas $ 7.485-
lan871- Piso alto - departamento en cuotas de $ 7.434-
Departamento en cuotas de $ 7.499-
Moderno depto en cuotas de $ 6.000- x mes
Comienza el nuevo plan p tu depa en cuotas $ 6.000
Lindando centro- anticipo y ctas $ 15.300-
Congreso,posesion 6 meses en 38 m2 en ctas $ 15.300
Congreso,posesion 6 meses en 38 m2 en ctas $ 15.300
Lindando centro- anticipo y ctas $ 15.300-
Comienza el nuevo plan p tu depa en cuotas $ 6.000
Moderno depto en cuotas de $ 6.000- x mes
Departamento en cuotas de $ 7.499-
lan871- Piso alto - departamento en cuotas de $ 7.434-
monoambientes en cuotas desde $ 6.000-
depto con terraza en cuotas $ 9.300-
Nueva propuesta depto en cuotas desde $ 6.000-
Depto 1 amb divisible con balcon en cuotas $ 11.800-
Depa 1 amb y medio en cuotas $ 11.000-
Depa 1 amb y medio en cuotas de $ 11.000-
Depto con pequea terraza en cuotas $ 9.000-
Te presentamos Piscinas de Boedo en cuotas desde $ 9.000-
Depa 1 amb 33m2 divisible en cuotas $ 11.800-
Depa 1 amb a estrenar con terracita en cuotas $ 9.300-
Depto en  cuotas de $ 9.300-
Depto en Caba solo en cuotas de $ 9.310-
Nueva propuesta depto en cuotas desde $ 6.000-
Depto 1 amb divisible con balcon en cuotas $ 11.800-
Depa 1 amb y medio en cuotas $ 11.000-
Depa 1 amb y medio en cuotas de $ 11.000-
Depto con peque?a terraza en cuotas $ 9.000-
Te presentamos Piscinas de Boedo en cuotas desde $ 9.000-
Depa 1 amb 33m2 divisible en cuotas $ 11.800-
Depa 1 amb a estrenar con terracita en cuotas $ 9.300-
1 amb con patio a estrenar en cuotas de $ 9.300-
1 amb divisible en cuotas desde $ 9.000-
Depa 1 amb y medio en cuotas $ 9.300-
Depa 1 amb y medio desde $ 9.000-
Depto en cuotas de $ 9.300 x mes
Depto 1 amb divisible con balcon en cuotas $ 11.800-
Te presentamos Piscinas de Boedo en cuotas desde $ 9.000-
Depto solo en cuotas de $ 9.300-
Tu depa, ingresa con $ 29.000 y cuotas en pesos

Departamento 370m² con Plantas, Tigre, Nordelta, por $ 9.005.446
Departamento 181m² con Cochera, Tigre, Nordelta, por $ 6.713.269
Departamento 87m² con Plantas, Tigre, Nordelta, por $ 4.417.994
Departamento 122m² con Plantas, Tigre, Nordelta, por $ 5.998.500
Departamento 122m² con Cochera, Tigre, Nordelta, por $ 5.998.500
Casa 104m² con Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.982.000
Departamento 78m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.483.000
Departamento 110m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.890.000
Departamento 106m² con 2 Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 2.190.000
Departamento 91m² con 2 Plantas, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.960.000
Departamento 95m² con Cochera, Bs.As. G.B.A. Zona Norte, Pilar, por $ 1.990.000
Departamento 73m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.375.706
Departamento 73m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.623.206
Departamento 85m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.831.543
Departamento 85m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 3.079.043
Departamento 73m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.623.206
Departamento 85m² con Cochera en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 3.079.043
Departamento 63m² con Plantas en Ambrosoni 1300, San Fernando, Victoria, por $ 2.117.749
Departamento 63m² con Plantas en Ambrosoni 1300, San Fernando, Victoria, por $ 2.309.749
Departamento 63m² con Plantas en Ambrosoni 1300, San Fernando, Victoria, por $ 2.380.184
Departamento 63m² con Cochera en Ambrosoni 1300, San Fernando, Victoria, por $ 2.450.618
Departamento 63m² con Cochera en Ambrosoni 1300, San Fernando, Victoria, por $ 2.514.635
Departamento 63m² con Cochera en Ambrosoni 1300, San Fernando, Victoria, por $ 2.370.948
Departamento 55m² con Plantas en Centenario, Av. 2500, San Isidro, Beccar, por $ 1.650.000
Departamento 46m² con Cochera en Centenario, Av. 2500, San Isidro, Beccar, por $ 1.671.691
Departamento 46m² con Plantas en Centenario, Av. 2500, San Isidro, Beccar, por $ 1.400.000
Departamento 77m² con Plantas en Centenario, Av. 2500, San Isidro, Beccar, por $ 2.150.000
VENDO DEPTO 45 M2 CUBIERTOS $ 1400000
Departamento 44m² con Plantas en De Las Conchas, Av. Sta M 2000, Tigre, Rincón de Milberg, por $ 1.379.397
VENTA CARPETA CASA NATANIA GUAYMALLEN $ 215.000!!!
Oportunidad de Inversion!! Deptos Monoambientes y Deptos de 1 Dorm. $ 1.100.000
***SE VENDE 3 CASAS INDEPENDIENTES*** $ 1.300.000.
LUGANO I Y II $ 1.100.000 3 AMB CALLE A NVO APTO CRÈD TORRE 3
FLORESTA- OPORTUNIDAD.-EDIFICIO - HOTEL EN 2 PLANTAS CON 12 DEPARTAMENTOS CON BAÑO Y COCINA CADA UNO. OPCION CON RENTA SIN CONTRATO $ 25000.,
Venta de casa calle 14 y 51, 3 dormitorios. $ 1.000.000
Departamento 60m² con Plantas en Montevideo 1500, Bs.As. G.B.A. Zona Norte, Tigre, por $ 128.000
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 4.425.000
Departamento con Plantas en Espora 3000, Vicente López, Olivos, por $ 3.170.800
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 3.170.800
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 4.063.600
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 4.021.900
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 4.146.200
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 4.270.600
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 3.388.700
Departamento con Cochera en Espora 3000, Vicente López, Olivos, por $ 4.394.900
Departamento 164m² en Maison, J. 2400, Capital Federal, Palermo, por $ 6.180.154
Departamento 395m² en Thames 2400, Capital Federal, Palermo, por $ 6.065.716
Departamento 128m² en Thames 2400, Capital Federal, Palermo, por $ 6.194.774
Departamento 335m² con Plantas en Junin 600, Capital Federal, Recoleta, por $ 1.541.800
Departamento 37m² con Plantas en Cabildo Av. 200, Palermo, Palermo Hollywood, por $ 1.759.100
Departamento 37m² con Plantas en Cabildo Av. 200, Palermo, Palermo Hollywood, por $ 1.920.000
Departamento 80m² con Plantas en Cabildo Av. 200, Palermo, Palermo Hollywood, por $ 1.721.300
Departamento 305m² con Plantas en Viamonte 2100, Capital Federal, Recoleta, por $ 1.300.977
Departamento 345m² con Plantas en Irigoyen, Bernardo De 1300, Capital Federal, San Telmo, por $ 1.234.400
Departamento 335m² con Plantas en Junin 600, Capital Federal, Recoleta, por $ 1.541.800
Departamento 42m² con Plantas en Cochabamba 600, Capital Federal, San Telmo, por $ 1.421.468
Departamento 40m² con Plantas en Echeverria 4200, Capital Federal, Villa Urquiza, por $ 1.911.834
Departamento 35m² con Plantas en Echeverria 4200, Capital Federal, Villa Urquiza, por $ 1.616.826
Departamento 43m² con Plantas en Echeverria 4200, Capital Federal, Villa Urquiza, por $ 2.011.174
Departamento 121m² con Plantas en Echeverria 4200, Capital Federal, Villa Urquiza, por $ 6.391.756
Departamento 35m² con Plantas en Echeverria 4200, Capital Federal, Villa Urquiza, por $ 1.656.261
Departamento 79m² con Plantas, Bs.As. G.B.A. Zona Norte, San Fernando, por $ 3.437.895
Departamento 40m² con Plantas, Bs.As. G.B.A. Zona Norte, San Fernando, por $ 1.904.251
Departamento 85m² con Cochera, Bs.As. G.B.A. Zona Norte, San Fernando, por $ 2.735.353
Departamento 82m² con Plantas en O'Higgins 400, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 3.157.000
Departamento 70m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.399.281
Departamento 84m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.859.641
Departamento 70m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 2.547.221
Departamento 84m² con Plantas en Tomkinson, Intendente 300, Bs.As. G.B.A. Zona Norte, San Isidro, por $ 3.021.377
Departamento 122m² con Cochera, Tigre, Nordelta, por $ 6.250.100
Casa 300m² con 2 Plantas, Tigre, Benavidez, por $ 750.000
Oportunidad de Inversion!! Deptos Monoambientes y Deptos de 1 Dorm. $ 1.100.000
Departamento 45m² con Plantas en Belgrano 900, Bs.As. G.B.A. Zona Norte, San Fernando, por $ 1.360.000
Casa 1100m² con 2 Plantas, Malvinas Argentinas, Los Polvorines, por $ 450.000
OPORTUNIDAD !! LINDO DPTO. 3 DORMITORIOS B° MAY $ 1.200.000!!!
***SE VENDE 15 HAS. CON EXCELENTE CASA, SOBRE RUTA 4*** cada has $ 70.000.$70.000Leandro N. Alem (Misiones)
VENDO LINDA CASA 3 DORMITORIOS $ 1.300.000
VENDO LINDA CASA 3 DORMITORIOS $ 1.300.000
PALERMO Depto 2 Amb. CFTE-Lateral. 40 mt2 A. Las Heras y Aguero U$S 118.000 Exp. $ 2.000
Venta Av. Federico Lacroze 2600 Colegiales capital federal $ 95.000
Plaza colon, 9bde julio873 , monoambiente planta baja ! $ 58
Excelente PH al fte entrada indep. 45 m2 cub + 8 m2 ptio expensas $ 150.- Apto Crédito Hipotecario -
DEPARTAMENTO EN VENTA EN NEUQUéN, CENTRO $ 1350000
DEPARTAMENTO EN VENTA EN NEUQUéN,  $ 1450000
DEPARTAMENTO EN VENTA EN NEUQUéN,  $ 2300000
LINDO DPTO. 3 DORMITORIOS $ 1.750.000!! APTO P/ CREDITO
EXCELENTE DPTO. A ESTRENAR CÉNTRICO 3 DORMITORIOS $ 3.100.000!!
HERMOSA CASA 2 DORMITORIOS VILLA URQUIZA $ 2.500.000!!
HERMOSOS DPTOS. 1dormitorio $ 1.300,00!!!
Impecable Depto Centrico 2 Dorm. c/ Titulo!! $ 2.800.000
LINDO DPTO. 2 DORMITORIOS $ 1.350.000!!
LINDO DPTO. 3 DORMITORIOS $ 1.750.000!! APTO P/ CREDITO
HERMOSO CHALET 3 DORMITORIOS VILLA URQUIZA $ 4.000.000!!
NUEVA CORDOBA -preventa- CALYPSO 3 desde $ 980.000 contado!!!
CRISOL SUD CASA  Y DEPTO $ 1100000!!!!
IDEAL RENTISTAS 2 MONOAMBIENTES   DEPTO 2 DORM C/ COCHERA $ 1200000
Brown 2518 - Monoambientes en venta - Desde $ 827.000
Brown 2518 - Monoambientes en venta - Desde $ 827.000
PALERMO Depto. 3 Ambientes Frente. 61 mt2 S. Ortiz y Guemes U$S 170.000 Exp. $ 3.000
POETA LUGONES casa en Ph planta baja 3 dorm $ 1250 000
TALAR DE MENDIOLAZA, CASA 2 DORM 2 PLANTAS 600 M2 $ 1350000
IDEAL RENTISTAS 2 MONOAMBIENTES + DEPTO 2 DORM C/ COCHERA $ 1200000
DUPLEX 2 AMB BALCÓN Y PATIO Y TERRAZA,EXP $ 1.000
DEPARTAMENTO EN VENTA EN GENERAL ROCA,  $ 1064800
CASA EN VENTA EN GENERAL ROCA,  $ 2030000
$: 610

In [8]:
def busca_claves(pattern, columna, df):
    regex = re.compile(pattern, flags = re.IGNORECASE)
    m = pd.DataFrame([regex.findall(n) for n in df[columna]])
    return m

#funciones que use un diccionario para pasar las palabras a numeros.
#formas de recodificar la informacion obtenida en el df
#calcular cuantas observaciones se obtuvieron -> comparar con la informacion que ya estaba en el df
#ver si hacer one hot encoding o no.

In [173]:
# pattern_amb = r"(\d*\w*)\s*amb"
# pattern_hab = r"(\d*\w*)\s*habitacion|(\d*\w*)\s?cuarto|(\d*\w*)\s?dorm|(\d*\w*)\s?pieza"
# pattern_amen = r"(pileta)|(piscina)|(SUM)|(laundry)|(lavadero)|(terraza)|(solarium)|(baulera)|(sauna)|(gimnasio)|(salon de usos multiples)|(cochera)|(garage)|(gim)|(gym)"
# pattern_casa = r"(casa)|(departamento)|(triplex)|(duplex)|(frente)|(contrafrente)|(PH)|(chalet)"
#pattern_superficie = r"(\d*)\,?\d*\s?(?:m²|mts\s?2|metros\s?2|mts²|m2|metros\s?cuadrado|mts\s?cuadrado)"
# #(\d*)\s?(?:m²|mts2|metros2|mts²)\s?\w*\s?(?:sup\w*)\s?(\w*)
pattern_precio_usd = r"(\d+\.?\,?\d+\.?\,?\d+)\s?u[$s]\w?|u[$s]\w?\s*(\d+\.?\,?\d+\.?\,?\d+)"
pattern_precio = r"(\d+\.?\,?\d+\.?\,?\d+)\s?\$|\$\s*(\d+\.?\,?\d+\.?\,?\d+)"

# ambientes_tit = busca_claves(pattern_amb, "title", properatti1)
# ambientes_des = busca_claves(pattern_amb, "description", properatti1)

# habitaciones_tit = busca_claves(pattern_hab, "title", properatti1)
# habitaciones_des = busca_claves(pattern_hab, "description", properatti1)

# amenities_tit = busca_claves(pattern_amen, "title", properatti1)
# amenities_des = busca_claves(pattern_amen, "description", properatti1)

#tipo_tit = busca_claves(pattern_casa, "title", properatti1)
# tipo_des = busca_claves(pattern_casa, "description", properatti1)

# superficie_tit = busca_claves(pattern_superficie, "title", properatti1)
# superficie_des = busca_claves(pattern_superficie, "description", properatti1)

precio_usd_tit = busca_claves(pattern_precio_usd, "title", properatti1)
precio_usd_des = busca_claves(pattern_precio_usd, "description", properatti1)

precio_tit = busca_claves(pattern_precio, "title", properatti1)
precio_des = busca_claves(pattern_precio, "description", properatti1)

In [134]:
#properatti1["description"].sample(10)

In [174]:
# print(ambientes_tit.head(10))
# print(ambientes_des.head(10))
# print(habitaciones_tit.head(10))
# print(habitaciones_des.head(10))
print(precio_usd_tit)
print(precio_usd_des.head(10))
print(precio_tit)
print(precio_des.head(10))


# print(superficie_tit)
#print(superficie_des.iloc[263])
#print(superficie_des.sample(10))
#print(superficie_tit.notnull().sum().sum())
#print(superficie_des.notnull().sum().sum())
#corrobore que hay bastante informacion por lo tanto el regex anda

               0
0           None
1           None
2           None
3           None
4           None
5           None
6           None
7           None
8           None
9           None
10          None
11          None
12          None
13          None
14          None
15          None
16          None
17          None
18          None
19          None
20          None
21          None
22          None
23          None
24          None
25          None
26          None
27          None
28          None
29          None
..           ...
970         None
971         None
972         None
973         None
974         None
975         None
976         None
977         None
978         None
979         None
980         None
981         None
982         None
983         None
984         None
985  (, 700.000)
986         None
987         None
988         None
989         None
990         None
991         None
992         None
993         None
994         None
995         None
996         None
997         None
998         None
999         None

[1000 rows x 1 columns]
            0     1     2
0        None  None  None
1  (, 20.000)  None  None
2        None  None  None
3        None  None  None
4        None  None  None
5        None  None  None
6        None  None  None
7        None  None  None
8        None  None  None
9        None  None  None
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1000 rows x 0 columns]
     0     1     2     3     4     5     6     7     8     9     10    11
0  None  None  None  None  None  None  None  None  None  None  None  None
1  None  None  None  None  None  None  None  None  None  None  None  None
2  None  None  None  None  None  None  None  None  None  None  None  None
3  None  None  None  None  None  None  None  None  None  None  None  None
4  None  None  None  None  None  None  None  None  None  None  None  None
5  None  None  None  None  None  None  None  None  None  None  None  None
6  None  None  None  None  None  None  None  None  None  None  None  None
7  None  None  None  None  None  None  None  None  None  None  None  None
8  None  None  None  None  None  None  None  None  None  None  None  None
9  None  None  None  None  None  None  None  None  None  None  None  None

In [47]:
#type(ambientes_des.iloc[7,0]) == str

True

In [ ]:
#cosas que fui tirando para hacer la funcion de abajo
#[print(x) for x in habitaciones1.iloc[0,0]]
#habitaciones1.iloc[0,0][0] == ""
#habitaciones1.iloc[1,0]

In [54]:
def tuples2lists(df):
    for i in range(len(df.index)):
        l = []
        for j in range(len(df.columns)):
            if df.iloc[i,j] != None:
                if type(df.iloc[i,j]) == str:
                    l.append(df.iloc[i,j])
                else:
                    for h in df.iloc[i,j]:
                        if h != "":
                            l.append(h)
        if len(l) == 0:
            df.iloc[i,0] = None
        elif len(l) == 1:
            df.iloc[i,0] = l[0]
        else:
            df.iloc[i,0] = l
    df = df[[0]]
    return df

In [175]:
#ambientes_tit1 = tuples2lists(ambientes_tit) 
#ambientes_des1 = tuples2lists(ambientes_des)

# habitaciones_tit1 = tuples2lists(habitaciones_tit)  
# habitaciones_des1 = tuples2lists(habitaciones_des) 

# amenities_tit1 = tuples2lists(amenities_tit) 
# amenities_des1 = tuples2lists(amenities_des)  

# tipo_tit1 = tuples2lists(tipo_tit) 
# tipo_des1 = tuples2lists(tipo_des) 

#superficie_tit1 = tuples2lists(superficie_tit)  
#superficie_des1 = tuples2lists(superficie_des) 

precio_usd_tit1 = tuples2lists(precio_usd_tit)  
precio_usd_des1 = tuples2lists(precio_usd_des) 

#precio_tit1 = tuples2lists(precio_tit)  
precio_des1 = tuples2lists(precio_des)

In [167]:
precio_usd_des1.notnull().sum()

0    106
dtype: int64

In [128]:
superficie_des1.notnull().sum()

0    312
dtype: int64

In [176]:
#habitaciones_des1
precio_usd_des1

                              0
0                          None
1                        20.000
2                          None
3                          None
4                          None
5                          None
6                          None
7                          None
8                          None
9                          None
10                         None
11                         None
12                         None
13                         None
14                         None
15                      250.000
16                         None
17                         None
18                         None
19                         None
20                         None
21                         None
22                         None
23                         None
24   [71.000, 105.000, 380.940]
25   [71.800, 106.000, 385.640]
26                         None
27                         None
28   [72.500, 107.000, 390.700]
29                         None
..                          ...
970                        None
971                        None
972                        None
973                        None
974                     189.000
975                     159.000
976                     162.900
977                        None
978                        None
979                        None
980                        None
981                        None
982                       18000
983                        None
984                        None
985                        None
986                        None
987                        None
988                        None
989                        None
990                        None
991                      19.687
992                        None
993                        None
994                        None
995                        None
996                        None
997                        None
998                        None
999                        None

[1000 rows x 1 columns]

In [ ]:
letras2numeros = {"mono": 1, "un": 1, "dos": 2, "tres": 3, "cuatro": 4, "cinco": 5, "seis": 6, \
                  "siete": 7, "ocho": 8, "nueve": 9, "diez": 10, "once": 11, "doce": 12, \
                  "trece": 13, "catorce": 14, "quince": 15, "dieciseis": 16, "diecisiete": 7, \
                  "dieciocho": 18, "diecinueve": 19, "veinte": 20}
["1", "2"]

In [ ]:
#codigo que incorpore las funciones 
#y que ponga los resultados en nuevas columnas del df

#ambientes_1 = ambientes[0]
#pd["habitaciones_1"] = habitaciones[0]
#pd["amenities_1"] = amenities[0]
#pd["tipo_casa_1"] = tipo_casa[0]
#pd["ambientes_2"] = ambientes[1]
#pd["habitaciones_2"] = habitaciones[1]
#pd["amenities_2"] = amenities[1]
#pd["tipo_casa_2"] = tipo_casa[1]

In [ ]:
#codigo que pase los precios todos a dolares o pesos ~> dropeamos la columna que tenia la otra moneda

#codigo que pase la info de habitaciones y ambientes a rooms (seria a habitaciones no?)

#codigo que pase la info de superficie a total y cubierta. ej: si hay superficie cubierta y superficie descubierta 
#sumarlas y ponerlas en superficie total

#codigo que haga una funcion que PRIMERO pregunte si la columna original (de tipo de propiedad/
#la info de precios / la info de superficie total y cubierta / la info de habitacioneses) tiene info sobre eso.
#Si no tiene (es none o cero) la completamos con la info de la nueva columna; si la original tiene y la nueva tambien
#hace una nueva columna que pregunta si la info nueva es igual a la que ya esta. Despues con esa nueva columna
#vamos a hacer codigo que para todos los que devolvieron False/True(depende lo que decidamos, si valoramos
#mas la info puesta en la columna o en description y title) reemplace la info original por la nueva o usamos la vieja
#despues de todo esto dropeamos las columnas nuevas


#cuantifico con la funcion "existe_clave()" todos los amenities para dicidir cuales uso en el regex.
#si hay pocas de cada una podemos decidir dejar solo una columna que sea amenities si o no

# si no decidimos hacer una columna para todos los amenities hacemos lo siguiente:
#codigo que separe todos los amenities en columnas por: gimnasio, sum, garage, pileta, baulera, lavadero, terraza 
#(juntando todas las palabras que apuntan a lo mismo). podrian pasar de estar en una misma columna a un booleano
#pero creo que como quizas en una fila haya una lista con varios juntos el booleano no va a poder
#entonces hago codigo que mire la fila y si encuentra tales palabras pone un uno en la columna que hace referencia
#a ese conjunto, si encuentra otra a otra y asi con todas.